@import '../../index.css';

/* Fundo do overlay */
.modal-container
{
        margin: 5px 0;
        border-bottom: 1px solid var(--medium-gray);
}

.modal-container h3 {
        color: var(--primary-dark);
        margin-bottom: 5px;
        grid-column: span 2;
}
    
.modal-container p {
        color: #333;
}

.modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Fundo escurecido */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
}
      
      /* Conteúdo do modal */
.modal-content {
        background-color: white;
        width: 90%;
        max-width: 600px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr 1fr; /* Duas colunas */
        gap: 20px;
}
      
      /* Estilo da foto */
.item-photo {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
      
      /* Tipografia */
h2, h3 {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
}
p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5;
}
      
      /* Botões */
button {
        padding: 10px 15px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
}
      
.open-modal-button {
        background-color: #007BFF;
        color: white;
}
      
.close-modal-button {
        background-color: #DC3545;
        color: white;
}
      
button:hover {
        transform: scale(1.05);
}
      