/* Reset básico */
@import "../../index.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(135deg, var(--primary-light), var(--primary-dark));
    box-sizing: border-box;
    height: 100%;
    display: block;
}

html body #root{
    display: block;
}

html{
    height: 100%;
}

/* Cabeçalho da dashboard */
.dashboard-header {
    background: linear-gradient(--header-gradient);
    padding: 20px;
    box-shadow: var(--shadow-sm);
    margin-bottom: 5px;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

.container-header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;
    justify-items: center;
}

.titulo-header p{
    font-weight: bold;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    line-height: 0.8;

    text-align: center;
}

.usuario-header{
    display: grid;
    display: none;

    align-content: center;
    color: var(--white);
    font-size: 1.5rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
	word-break: break-all;
}

.dashboard-header h1 {
    color: var(--primary-dark);
    font-size: 24px;
}

.logo-header{
    height: auto;
}

/* Container principal usando CSS Grid */
.dashboard-container {
    display: grid;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    padding: 1rem;

}

@media (min-width: 1000px){
    .dashboard-header{
        margin-bottom: 10px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }

    .container-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    

    .usuario-header{
        display: grid;
        max-width: 30ch;
    }
}

/* Em telas maiores (ex: desktop), usa duas colunas */
@media (min-width: 768px) {
    .dashboard-container {
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        
    }

    
}




/* Estilização do feed (coluna única para os itens perdidos) */
.dashboard-feed {
    background: var(--white);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);

    overflow-y: auto;
}

.dashboard-feed h2 {
    color: var(--primary-dark);
    margin-bottom: 10px;
}

.feed-item {
    border-bottom: 1px solid var(--medium-gray);
    padding: 10px 0;
}

.feed-item:last-child {
    border-bottom: none;
    padding: 0px;
    padding-top: 10px;
}

.feed-item h3 {
    color: var(--primary-dark);
    margin-bottom: 5px;
}

.feed-item p {
    color: var(--text-color);
}

/* Estilização da sidebar para pesquisa, notificações e cadastro */
.dashboard-sidebar section {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.dashboard-sidebar h2 {
    color: var(--primary-dark);
    margin-bottom: 10px;
}

.notifications-section{
    max-height: 10rem; /* ou a altura desejada */
    overflow-y: auto;
}

.notifications-section ul {
    padding-left: 1rem;
}

.accept{
    color: var(--green);
}

.decline{
    color: var(--red);
}

/* Estilos dos formulários */
form label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: bold;
}

form input[type="text"], form input[type="date"], form input[type="file"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--medium-gray);
    border-radius: 4px;
}

form textarea {
    resize: vertical;
}

form button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-dark);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--primary-light);
}