@import '../../index.css';

.menu{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 0;
        flex-shrink: 1;
        align-content: center;
}

ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        list-style: none;
}

li{
        list-style: none;
}

.menu-link{
        text-transform: capitalize;
        font-size: 1.125rem;
        color: var(--white);
        display: block;
        padding: 1rem 2rem;
        background-color: var(--primary-light);
        text-decoration: none; /* Remove o underline padrão */

        border-radius: 4px;
        border: 2px solid var(--primary-light);
}

.menu-link:hover {
        background-color: var(--primary-dark); /* Altere a cor no hover */
}

@media (max-width: 500px) {
        ul {
                display: grid;
                grid-template-columns: 1fr;
        }

}