/* Login.css */

/* Reset básico */
* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

/* Body com fundo em gradiente */
.login {
        background: linear-gradient(var(--primary-gradient));        
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}

/* Container do login */
.login-container {
        background: var(--white);
        width: 100%;
        max-width: 400px;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Cabeçalho que identifica o sistema */
.login-header {
        text-align: center;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--medium-gray);
        padding-bottom: 10px;
}

.login-header h1 {
        font-size: 20px;
        color: var(--primary-dark);
}

/* Título da página de login */
.login-container h2 {
        text-align: center;
        color: var(--primary-dark);
        margin-bottom: 20px;
}

/* Estilo dos labels */
.login-container label {
        display: block;
        margin-bottom: 5px;
        color: var(--text-color);
}

/* Campos de entrada */

.login-container input{
        background-color: var(--white);
        color: var(--text-color);
}

.login-container input[type="email"],
.login-container input[type="password"] {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 20px;
        border: 1px solid var(--medium-gray);
        border-radius: 4px;
        font-size: 14px;
}

/* Botão de envio */
.login-container button {
        width: 100%;
        padding: 12px 15px;
        border: none;
        border-radius: 4px;
        background-color: var(--primary-dark);
        color: var(--white);
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

/* Efeito hover para o botão */
.login-container button:hover {
        background-color: var(--primary-light);
}

/* Responsividade para telas menores */
@media (max-width: 480px) {
        .login-container {
        padding: 20px;
        }
}
