:root {
  font-family: "Fira Sans", sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --cor_primaria: #4056a1;
  --cor_secundaria: #6aafe6;
  --gradiente: 135deg, var(--cor_secundaria), var(--cor_primaria);

}

body{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, a, li, p{
  margin: 0;
  padding: 0;
}
